*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

:root{
	--bg-preto:rgb(0,0,0);
	--nao-metal:rgb(180,210,100);
	--gas-nobre:rgb(100,180,225);
	--metal-alcalino:rgb(245,200,100);
	--metal-alcalino-terroso:rgb(240,230,90);
	--semimetal:rgb(110,200,190);
	--halogenio:rgb(170,225,255);
	--outros-metais:rgb(190,210,210);
	--metal-transicao:rgb(245,175,175);
	--lantanideo:rgb(150,225,225);
	--actinidio:rgb(230,190,220);
}

body{
	font:1em/1 'Montserrat', sans-serif;
	color:rgb(255,255,255);
	text-align:center;
	padding:1em 5%;
	
}

.nao-metal{
	color:black;
    background-color:var(--nao-metal) ;
}
	
.gas-nobre{
	color:black;
    background-color: var(--gas-nobre);
}

.metal-alcalino{
	color:black;
    background-color: var(--metal-alcalino);
}
	
.metal-alcalino-terroso{
	color:black;
    background-color:var(--metal-alcalino-terroso)
}
	
.semimetal{
	color:black;
    background-color:var(--semimetal)
}
	
.halogenio{
	color:black;
    background-color:var(--halogenio)
}
	
.outros-metais{
	color:black;
    background-color:var(--outros-metais)
}
	
.metal-transicao{
	color:black;
    background-color:var(--metal-transicao)
}
	
.lantanideo{
	color:black;
    background-color:var(--lantanideo)
}
	
.actinidio{
	color:black;
    background-color:var(--actinidio)
}

h1{
    margin: .5em 0;
    font-size:calc(3vw + 2rem);
	font-weight:100;
    color: black;
}
h3{
    margin: 3px;
    font-size:20px;
	font-weight:100;
    color: black;
}

h2{
	font-size:2em;
}

p:last-child{
	font-size:.8em;	
}



main{
	margin:auto;
	max-width:45em;
	display:flex;
}

#grid-container{
	flex-grow:1;
	min-width:7em;	
}

/*.col-hidden{
	display:none;	
}*/



section{
	height:7em;
	background:white;	
	border:.125rem solid;
	border-radius:.25rem;	
	line-height:1.25;
	margin-bottom:.5em;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

span{
	font-size:.75em;
	position:absolute;
	top:.3em;
	left:.5em;	
}



footer{
	font-size:.8em;
	text-align:left;	
	flex-basis:13.5rem;
	margin:-.25em 0 0 1em;
}

ul{
	display:flex;
	flex-wrap:wrap;
  position:sticky;
  top:1em;
}

li{
	flex-basis:100%;
	line-height:1.25;
	margin-bottom:1em;	
}

li:before{
	content:' ';
	display:inline-block;
	width:1em;
	height:1em;
	border:.125em solid;
	border-radius:.125rem;	
	margin-right:.5em;
	position:relative;
	top:.25em;
}


@media only screen and (min-width:92.5em){
	@supports (display:grid){
		
		
		
		body{
			font-size:.65em;
			padding:2em;	
		}
		
		main{
			max-width:130.5em;
			display:block;
		}
		
		#grid-container{
			display:grid;
			grid-template-columns:repeat(18, 7em);
			grid-gap:.25em;	
		}

        .col-span18{
            grid-column:span 18;
        }
			
		.col-span16{
			grid-column:span 16;
		}
			
		.col-span10{
			grid-column:span 10;
		}
			
		.col-span3{
			grid-column:span 3;
		}

        .col-span1{
			grid-column:span 1;
		}
					
		section{
			margin:0;
		}
			
		section:hover{
			transition:.2s;
			transform:scale(1.5);
			cursor:pointer;
			z-index:2;
		}
		
		
    }

    }